<h2>Manage User Accounts</h2>
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">
          <form>
          	<div class="flash-message" ng-if="flash">
        		<div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
    		</div>
		    <label for="firstName">First Name: </label>
		    <input id="firstName" type="text" ng-model="aUsers.firstName" class="form-control" required><br>
		    <label for="lastName">Last Name: </label>
		    <input id="lastName" type="text" ng-model="aUsers.lastName" class="form-control" required><br>
		    <label for="username">Username: </label>
		    <input id="username" type="text" ng-model="aUsers.username" class="form-control" required><br>
		    <label for="email">Email: </label>
		    <input id="email" type="text" ng-model="aUsers.email" class="form-control" required><br>
		    <label for="role">Role </label>
		    <select id="role" type="text" ng-model="aUsers.role" class="form-control" required>
		    	<option value="Admin">Admin</option>
		    	<option value="User">User</option>
		    </select><br>

			<button class="btn btn-primary" ng-click="addUser()">Add User</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
  
  
    <!-- Modal for Edit User -->
  <div class="modal fade" id="editModal" role="dialog">
		<div class="modal-dialog">
		
			<!-- Modal content-->
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Update User</h4>
				</div>
        
				<div class="modal-body">
					<form>
					
						<div class="form-group">
							<label for="fname">Firstname</label>
							<input type="text" class="form-control" id="fname" ng-model = "aUsers.firstName" >
						</div>
           
						<div class="form-group">
							<label for="lname">Lastname</label>
							<input	 type="text" class="form-control" id="lname" ng-model = "aUsers.lastName">
						</div>
						
						<div class="form-group">
							<label for="uname">Username</label>
							<input type="text" class="form-control" id="uname" ng-model = "aUsers.username">
						</div>
						
						<div class="form-group">
							<label for="email">Email</label>
							<input	 type="text" class="form-control" id="email" ng-model = "aUsers.email">
						</div>
						
						<div class="form-group">
							<label for="role">Role</label>
							<select id="role"  class="form-control" ng-model = "aUsers.role" required>
								<option value="Admin">Admin</option>
								<option value="User">User</option>
							</select>
						</div>
						
						<button class = "btn btn-primary" ng-click = "vm.updateUser()" data-dismiss = "modal">Save</button>
						<button class= "btn btn-danger" ng-click = "vm.cancelEdit()" data-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
      
		</div>
  </div>
</div>

<div class="panel">
	<div class="row">
		<div class="col-sm-3">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create new user</button>        
		</div>
	</div>
	<div class="row">
		<br/>
	</div>
	<div class="row">
		<div class="col-sm-3">
            <label for="search">Search</label>
            <input id="search" type="text" ng-model="search" class="form-control">           
		</div>
		<div class="col-sm-3">
		    <label for="pageSize">Items per page</label>
			<input id="pageSize" type="number" ng-model="pageSize" class="form-control" min="1" max={{vm.user.length}}> 
		</div> 
	</div>
</div>
<div class="panel">
	<table class="table table-striped table-condensed table-hover">
		<thread>
			<tr>
				<th ng-click='sortColumn("role")' ng-class='sortClass("role")'>Role</th>
				<th ng-click='sortColumn("firstName")' ng-class='sortClass("firstName")'>First Name</th>
				<th ng-click='sortColumn("lastName")' ng-class='sortClass("lastName")'>Last Name</th>
				<th ng-click='sortColumn("username")' ng-class='sortClass("username")'>Username</th>
				<th ng-click='sortColumn("email")' ng-class='sortClass("email")'>Email</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thread>
		<tbody>
			<tr ng-repeat="u in vm.user | orderObjectBy : column : reverse | filter : search | pagination: (currentPage - 1) * pageSize | limitTo: pageSize ">
				<td>{{u.role}}</td>
				<td>{{u.firstName}}</td>
				<td>{{u.lastName}}</td>
				<td>{{u.username}}</td>
				<td>{{u.email}}</td>
				<td>
					<button class="btn btn-primary glyphicon glyphicon-pencil" data-toggle = "modal" data-target = "#editModal" ng-click="editUser(u._id)"></button>
					<button class="btn btn-danger glyphicon glyphicon-remove" ng-click="vm.deleteUser($index)"></button>
				</td>
			</tr>
		</tbody>
	</table>
	<ul uib-pagination total-items="userLength" ng-model="currentPage" items-per-page="pageSize" boundary-links="true" max-size="4" force-ellipses="true"></ul>
</div>