<h2>Assets</h2>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
              <form>
                <label for="asset_id">Tag: </label>
                <input id="asset_id" type="text" ng-model="newAssets.tag" class="form-control" required><br>
                <label for="name">Name: </label>
                <input id="name" type="text" ng-model="newAssets.name" class="form-control" required><br>
                <label for="warehouse">Warehouse </label>
                <input id="warehouse" type="text" ng-model="newAssets.warehouse" class="form-control" required><br>
                <label for="status">status: </label>
                <input id="status" type="text" ng-model="newAssets.status" class="form-control" required><br>

                <button class="btn btn-primary" ng-click="addAsset()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">Asset</div>
                <div class="panel-body">
                    <div class="form-inline">
                        <label for="addButton">Add New: </label>     
                        <button type="addButton" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                            Add <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <label for="reportButton">Report: </label>                        
                        <button type="reportButton" class="btn btn-success" ng-csv="assets | filter: search" csv-header="columns" filename="{{setFilename()}}.csv">
                            Download <span class="glyphicon glyphicon-download-alt"></span>
                        </button>
                    </div>                            
                </div>
            </div>
        </div>
        <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Settings</div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <label for="search">Search: </label>
                            <input id="search" type="text" ng-model="search" class="form-control">     
                            <label for="pageSize">Items per page: </label>
                            <input id="pageSize" type="number" ng-model="pageSize" class="form-control" min="1" max={{assets.length}}>                     
                        </div>                            
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr> 
                        <th ng-repeat="column in columns" ng-click='setTo(column)'>{{column | uppercase}}</th>        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="asset in filtered_assets | filter : search | orderBy: sortColumn : reverse | pagination: (currentPage - 1) * pageSize | limitTo: pageSize">
                        <td ng-repeat="column in columns">{{$parent.asset[column]}}</td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="filtered_assets.length" ng-model="currentPage" items-per-page="pageSize" boundary-links="true" max-size="4" force-ellipses="true"></ul>
        </div>
    </div>
</div>